/* ESTILOS GENERALES */

* { box-sizing: border-box; }

body {
  margin: 15px;
  font-family: sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

.main-nav {
  margin-bottom: 24px;
}

/* REINICIAMOS TODOS LOS UL LI QUE ESTEN DENTRO DE UN NAV */

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style-type: none;
}

/* HEADER */

.main-header .logo {
  display: block;
  border-radius: 50%;
  margin: 0 auto 30px;
  width: 140px;
}

.main-header .toggle-nav {
  display: block;
  background-color: #333;
  color: white;
  width: 50px;
  height: 100%;
  margin: 0 auto 15px;
  text-align: center;
}

.main-header .toggle-nav span {
  font-size: 32px;
  line-height: 50px;
}


.main-nav ul li a {
  display: block;
  height: 50px;
  background-color: #333;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-align: 50px;
  line-height: 50px;
  margin-bottom: 1px;
}

.main-nav ul li a:hover {
  background-color: #666;
}

/* HERO */

.banner img {
  /* visibility: hidden; invisibiliza la img pero ocupa el lugar igual. */
  display: none;
  width: 100%;
  margin-bottom: 30px;
}

/* PRODUCTOS */

.vip-products { margin-bottom: 30px; }

.product { margin-bottom: 15px;}

.photo-container {
  position: relative;
}

.photo-container .photo {
  width: 100%;
  margin-bottom: 10px;
}

.special {
  top: 0;
  position: absolute;
  right: 24px;
}

.zoom {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 40%;
  right: 0;
  left: 0;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, .3);
  color: white;
  text-align: center;
  padding: 10px;
}

.more {
  font-size: 14px;
}

button a:hover {
  padding: 8px;
}

 .product button {
  border: 1px solid #333;
  display: block;
  background-color: #333;
  padding: 12px;
}

/* FOOTER */

.footer-nav { margin-bottom: 24px; }

.main-footer .footer-nav {
  display: block;
  background-color: #333;
  color: white;
  width: 100%;
  height: 50px;
  margin: 0 auto 15px;
  text-align: center;
}

.main-footer ul li a {
  display: block;
  height: 50px;
  background-color: #333;
  color: white;
  text-align: center;
  text-transform: uppercase;
  text-align: 50px;
  line-height: 50px;
  margin-bottom: 1px;
}

.footer-nav ul li a:hover {
  background-color: #666;
}

@media screen and (min-width: 600px) {

/* HEADER */

  .main-header {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }

  .main-header .toggle-nav {
    display: none;
  }

  .main-nav ul li a {
    float: left;
    position: relative;
    padding: 14px;
    height: 1px;
    width: 16.4%;
    left: 3px;
    background-color: #333;
    color: white;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1px;
    margin-bottom: 24px;
    margin-right: 1px;
  }


  .main-nav ul li a:hover {
    background-color: #666;
  }



/* MAIN */

.banner img {
display: inline-block;
  width: 100%;
}

.vip-products {
  overflow: hidden;
 }

.product {
  margin: 20px 1% 20px;
  float: left;
  width: 48%;
}


.photo-container {
  position: relative;
}

.photo-container .photo {
  margin-bottom: 10px;
}

.special {
  top: 0;
  position: absolute;
  right: 5%;
}

.zoom {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 40%;
  right: 60%;
  left: 0;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, .3);
  color: cyan;
  text-align: center;
  padding: 5px;
  font-size: 12px;
}

.more {
  font-size: 14px;
}

button a:hover {
  padding: 8px;
}

 .product button {
  border: 1px solid #333;
  background-color: #333;
  padding: 12px;
 }
}

@media screen and (min-width: 768px) {


/* MAIN */

  .banner img {
    display: inline-block;
    width: 100%;
  }

  .vip-products {
    overflow: hidden;
   }

  .product {
    margin: 20px 1% 20px;
    float: left;
    width: 31.3%;
  }


  .photo-container {
    position: relative;
  }

  .photo-container .photo {
    margin-bottom: 10px;
  }

  .special {
    top: 0;
    position: absolute;
    right: 5%;
  }

  .zoom {
    display: block;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 40%;
    right: 60%;
    left: 0;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, .3);
    color: cyan;
    text-align: center;
    padding: 5px;
    font-size: 12px;
  }

  .more {
    font-size: 14px;
  }

  button a:hover {
    padding: 8px;
  }

   .product button {
    border: 1px solid #333;
    background-color: #333;
    padding: 12px;
   }


   /* FOOTER */

   .main-footer .footer-nav {
     background-color: tomato;
     border-radius: 10px;
     padding: 80px 0;
   }


   .main-footer ul li a {
     display: inline;
     position: relative;
     float: left;
     color: black;
     background-color: tomato;
     text-transform: none;
     margin-left: 6px;
     text-align: center;
     left: 10%;
     width: 12%;
   }

   .main-footer ul li a:hover {
     background-color: tomato;
     padding: 2px;
   }


}
