body {
  font-family: 'Open Sans', sans-serif;
  background-image: url("../img/emilia-home.jpg");
  background-position: top right;
  background-size: 75%;
  background-repeat: no-repeat;
}

header {
  position: relative;
}

ul {
  list-style: none;
  position: relative;
}

a {
  text-decoration: none;
  line-height: 30px;
  font-size: 75%;
  color: #666;
  position: relative;
}

a:hover{
  text-decoration: underline;
}


.ecole {
  line-height: 2px;
  position: relative;
  top: 150px;
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
  margin-left: 1px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  top: 250px;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  font-size: 350%;
  font-weight: bold;
}
